<div class="container" style="margin-top: 70px">
  <h1 class="text-center" style="margin: 20px">Fotos</h1>

  <div class="row">
    <div for(p in data.photos) class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 1.5em">
      ${p.source}
      <img src="${p.image_small.source}" alt="Foto" class="img-responsive img-thumbnail" style="height: 152px; width: auto">
    </div>
  </div>
</div>
