<div class="container">
  <div class="page-header text-center">
    <h1>Fotos</h1>
  </div>

  <div class="row">
    <div for(p in data.photos) class="col-md-3 col-sm-6 col-xs-12 text-center" style="margin-bottom: 1.5em">
      ${p.source}
      <img src="${p.image_small.source}" alt="Foto" class="img-responsive img-thumbnail" style="height: 152px; width: auto">
    </div>
  </div>
</div>
